/* You can add global styles to this file, and also import other style files */

html
{}

body { 
    margin: 0; 
    font-family: 'IBM Plex Sans', sans-serif; 
    overflow: auto;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 4px 0px;
}

p {
    font-weight: 400;
    font-size: 1em;
}

.head-section > h3 {
    margin-top: 40px;
}

@media (max-width: 450px) {
    body {
        margin: 2.5em 1.5em 1.5em 1.5em;
    }
}

@media (min-width: 451px) {
    h2 {
        font-size: 2.3em;
    }
}
