.head-section {
    margin-bottom: 3em;
}

.line {
    width: 40px;
    height: 9px;
    background-color: #6472EA;
}

#light-configuration-div {
    display: flex;
    flex-direction: column;
}

#brightness-label, #socket-label {
    margin: 35px 0px 0px 0px;
}

#help-button {
    font-size: large;
    color: #6472EA;
    background: none;
    border: 1px solid #6472EA;
    height: 45px;
    width: 45px;
    transition: all 0.3s;
}

#help-button:hover {
    color: white;
    background: #6472EA;
}

::ng-deep  #help-button > .mat-button-wrapper > .material-icons {
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: bold;
}

.mat-fab:not([class*=mat-elevation-z]), .mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

::ng-deep .mat-mini-fab .mat-button-wrapper {
    padding: 0px !important;
}

#color-span {
    margin-top: 28px;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(119, 130, 226) !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #6472EA !important;
}

#brightness-slider {
    /*transform: scale(2.5); */
    width: 300px;
}

::ng-deep .mat-slider {
    padding: 0px !important;
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #6472EA !important;
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #6472EA !important;
    right: -15px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    transition: none;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #6472EA !important;
}

::ng-deep .mat-slider-horizontal .mat-slider-wrapper {
    height: 8px !important;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-wrapper {
    height: 8px !important;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-background {
    height: 8px !important;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-fill {
    height: 8px !important;
}

button {
    font-family: 'IBM Plex Sans', sans-serif;
}

#color-buttons-div, #socket-buttons {
    margin-top: 12px;
}

#color-buttons-div > button {
    margin-right: 6px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-weight: 500;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 16px;
}

.red-color-button {
    border: 5px solid #E41731;
    color: #E41731;
    background: white;
}
.red-color-button:hover {
    background: #E41731;
    color: white;
}

.blue-color-button {
    border: 5px solid #468EE0;
    color: #468EE0;
    background: white;
}
.blue-color-button:hover {
    background: #468EE0;
    color: white;
}

.yellow-color-button {
    border: 5px solid #FFDD23;
    color: #FFDD23;
    background: white;
}
.yellow-color-button:hover {
    background: #FFDD23;
    color: white;
}

.green-color-button {
    border: 5px solid #76D319;
    color: #76D319;
    background: white;
}
.green-color-button:hover {
    background: #76D319;
    color: white;
}

.white-color-button {
    background: rgb(255, 255, 255);
    border: 5px solid #979797;
    color: #979797;
}
.white-color-button:hover {
    background: #979797;
    color: white;
}

.red-selected-color-button {
    border: 5px solid #E41731;
    background: #E41731;
    color: white;
}

.blue-selected-color-button {
    border: 5px solid #468EE0;
    background: #468EE0;
    color: white;
}

.green-selected-color-button {
    border: 5px solid #76D319;
    background: #76D319;
    color: white;
}

.yellow-selected-color-button {
    border: 5px solid #FFDD23;
    background: #FFDD23;
    color: white;
}

.white-selected-color-button {
    border: 5px solid #979797;
    background: #979797;
    color: white;
}

.socket-button {
    background-color: #979797;
    margin-right: 15px;
}
.socket-button:hover {
    background-color: #808080;
}

.clicked-socket-button {
    background-color: rgb(12, 221, 106);
    color: black;
    margin-right: 15px;
}

#footer-div {
    display: inline-grid;
    display: -moz-inline-grid;
}

#save-button, #cancel-button {
    width: 200px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

#save-button {
    color: white;
    border-radius: 50px;
    background-color: #6472EA;
    padding: 0px 30px;
    height: 45px;
    font-size: 1em;
    font-weight: 400;
    margin-top: 8vh;
}

#cancel-button {
    color: #E02020;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #E02020;
    padding: 0px 30px;
    height: 45px;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0px;
}

#save-button:hover {
    background: rgb(81, 94, 209);
}

#cancel-button:hover {
    background: #E02020;
    color: white;
}

@media (max-width: 450px) {

    #cancel-button, #save-button {
        margin-left: auto;
        margin-right: auto;
    }

    #footer-div {
        display: grid;
    }
}

@media (min-width: 451px) {
    #master-div {
        height: inherit;
        overflow: auto;
    }
    #background-div {
        margin: 3em 13% 1.5em 13%;
    }
}