.head-section {
    margin-bottom: 3em;
}

.line {
    width: 40px;
    height: 9px;
    background-color: #6472EA;
}

.fontsize-button {
    min-width: 85px;
}

#nightmode-div {
    margin-top: 28px;
}

#footer-div {
    display: inline-grid;
    display: -moz-inline-grid;
}

#save-button, #cancel-button {
    width: 200px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

#save-button {
    color: white;
    border-radius: 50px;
    background-color: #6472EA;
    padding: 0px 30px;
    height: 45px;
    font-size: 1em;
    font-weight: 400;
    margin-top: 8vh;
}

#cancel-button {
    color: #E02020;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #E02020;
    padding: 0px 30px;
    height: 45px;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0px;
}

#save-button:hover {
    background: rgb(81, 94, 209);
}

#cancel-button:hover {
    background: #E02020;
    color: white;
}

@media (max-width: 450px) {
    #cancel-button, #save-button {
        margin-left: auto;
        margin-right: auto;
    }
    #footer-div {
        display: grid;
    }
}

@media (min-width: 451px) {
    #master-div {
        height: inherit;
        overflow: auto;
    }
    #background-div {
        margin: 3em 13% 1.5em 13%;
    }
}